.field {
    position: relative;

    &:has(.field__input:not(:placeholder-shown)) .field__label {
        scale: 0.7;
        translate: -1.75em -2.6em;
        color: #065f46;
        font-weight: 600;
    }
    
    &:has(.field__input[type="search"]:not(:placeholder-shown)) .field__label {
        color: #047857;
    }
}
.field__label {
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray-3);
    translate: 0 -50%;
}

.field__input {
    --fieldInputPaddingX: 16px;
    --fieldSearchInputIconSize: 16px;

    width: 100%;
    height: var(--input-height);
    padding-inline: var(--fieldInputPaddingX);
    background-color: transparent;
    border: 2px solid var(--color-gray-2);
    border-radius: var(--border-radius);
    transition: all var(--transition-duration);

    &:hover {
        color: var(--color-dark-2);
        border-color: #065f46;
    }

    &:focus {
        color: var(--color-dark-2);
        background-color: #d1fae5;
        border-color: #065f46;
        outline: none;
        box-shadow: 0 0 0 3px rgba(6, 95, 70, 0.1);
    }

    &[type="search"] {
        &:placeholder-shown {
            padding-right: calc(
                var(--fieldInputPaddingX) * 2 + var(--fieldSearchInputIconSize)
            );
        }
        
        &:focus {
            border-color: #047857;
            background-color: #d1fae5;
            box-shadow: 0 0 0 3px rgba(4, 120, 87, 0.1);
        }
    }
}