body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 30px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #064e3b 0%, #065f46 50%, #047857 100%);
    background-attachment: fixed;
}

input,
label,
button {
    transition-duration: var(--transition-duration);
}

:focus-visible {
    outline: 2px dashed var(--color-black);
    outline-offset: 4px;
    transition-duration: 0s !important;
}